/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 12px;
  color: white;
  min-height: 100%;
  color: white;
}
body {
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background: url("/img/bg5.jpg") no-repeat center center fixed;
  background-size:  cover;
  height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/
main{
  /* border:1px solid black; */
  height: 80%;
}
h1{
  color: white;
  font-weight: bold;
}
li{
  font-size: 14px;
  border-bottom: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
